name: Symfony CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - uses: actions/setup-node@v3
              with:
                  node-version: "20"

            - run: npm ci
            - run: DISABLE_ESLINT_PLUGIN=true npm run build
            - name: Deploy build folder
              uses: appleboy/scp-action@master
              with:
                  host: ${{ secrets.SSH_HOST }}
                  username: ${{ secrets.SSH_USERNAME }}
                  key: ${{ secrets.SSH_PROD_PRIVATE_KEY }}
                  passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
                  source: "build/*"
                  target: "/var/www/configauto"
